.about{
    background-color: #4C7BE8F2;
}
.about a{
    color:white;
    text-decoration:none;
    font-family: Regular 32px/43px Segoe UI;
    font-size: larger;
    padding: 10px;
}
.code{
    padding-top:50px;
    text-align:center;
}
.community{
    padding-bottom: 60px;
    color:#51638BF2;
    width:1300px;
}
.button{
    background-color:#4C7BE8F2;
    font-family: Regular 35px/47px Segoe UI;
    font-size: 20px;
    color:#F4F4F5F2;
    padding:10px 15px;
}
.button:hover{
    text-decoration: none;
    color:#F4F4F5F2 ;
}
.img1 {
    padding-top:40px;
    padding-bottom: 50px;
}
.cont{
    padding-left: 6%;
    padding-right: 6%;
}
hr{
    border:1px solid #4C7BE8;
    margin-bottom:50px;
}
.myCard img{
    width:300px;
    height:200px;
    margin-top: 70px;
}
.myCard{
    color:#51638BF2;;
}
.myCard h2{
    padding-top:30px;
}
.last{
    margin-top:100px;
}
.apply{
    background-color:#4C7BE8F2 ;
}
.apply h1{
    color:#ECECECF2;
    font-family:Regular 70px/94px Segoe UI;;
} 
.apply a{
    background-color:white;
    color:#4C7BE8F2;
}
.apply a:hover{
    text-decoration:none;
    color:#4C7BE8F2;
}
.ap-margin{
    padding-top:170px;
    padding-bottom:170px;
}
.nat{
    margin-bottom: 50px;
    
}
.par1{
    font-size:25px;
    width:250px;
    text-align:center;
}
.par2{
    font-size:25px;
    width:324px;
    text-align:center; 
}
.par3{
    font-size:25px;
    width:314px;
    text-align:center;
}